[user]
	name = pcummuskey
	email = pcummuskey@bravurasolutions.com
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan
[color "status"]
	added = green
	changed = yellow
	untracked = red
[alias]
	co = checkout
	logr = log --graph --decorate --oneline --abbrev-commit
	logra = log --graph --decorate --oneline --abbrev-commit --all
	ignored = ls-files --others -i --exclude-standard
	nuke = reset --hard HEAD
	fap = fetch --all --prune
	amend = !git commit --amend -m`git log --format=%B -n 1 HEAD`
	cli = !gcli
[core]
	excludesfile = ~/.gitignore
	editor = 'C:/Program Files (x86)/vim/vim80/gvim.exe' -f
	autocrlf = Input
[credential]
	helper = wincred
[github]
	user = peterc@aetheric.co.nz
[push]
	default = tracking
[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git@github.com:
[http]
	sslVerify = false
	postBuffer = 524288000
[i18n]
	filesEncoding = utf-8

[difftool]
	tool = vimdiff3
	external = meld
	guitool = meld
[difftool "p4merge"]
	path = "C:/Program Files (x86)/Perforce"
	cmd  = p4merge "$BASE" "$LOCAL" "$REMOTE"
[difftool "meld"]
	path = "C:/Program Files (x86)/Meld"
	cmd  = meld "$LOCAL" "$REMOTE"

[merge]
	tool = vimdiff3
	external = meld
	guitool = meld
[mergetool "p4merge"]
	path = "C:/Program Files (x86)/Perforce"
	cmd  = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[mergetool "meld"]
	path = "C:/Program Files (x86)/Meld/Meld.exe"
	cmd  = meld "$LOCAL" "$REMOTE" "$MERGED"
[mergetool]
	keepBackup = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
