## Core Settings ##############################################################
[core]
	autocrlf = input
[i18n]
	filesEncoding = utf-8

## Identity & Auth ############################################################
[user]
	email = peter.cummuskey@westpac.co.nz
	name = Peter Cummuskey
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[credential "https://github.com"]
	username = Tzrlk
[credential "https://stash.westpac.co.nz"]
	username = m811632

## COMMAND OPTIONS ############################################################
[diff]
	algorithm = histogram
	tool = vimdiff
	guitool = gvimdiff
[init]
	defaultBranch = main
[log]
	date = iso-local
	abbrev-commit = true
	decorate = short
	follow = true
	showRoot = true
[merge]
	tool = vimdiff
	guitool = gvimdiff
[push]
	default = tracking
[rebase]
	abbreviateCommands = true
	rebaseMerges = true

## FORMATTING & COLOURS #######################################################
[format]
	pretty = %C(auto)%h %s
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan
[color "status"]
	added = green
	changed = yellow
	untracked = red

## ALIASES ####################################################################
[alias]

	# General quick Shortcuts
	st = status -a
	cl = clone
	ci = commit
	co = checkout
	br = branch
	dw = diff --word-diff
	dc = diff --cached
	rs = reset

	# Quick commit graph display
	logr = log --graph --decorate --oneline --abbrev-commit
	logra = !git logr --all

	# Repo maintenance
	fap = fetch --all --prune

## UNCATEGORISED ##############################################################
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

