[submodule "vim/plugins/markdown"]
	path = vim/plugins/markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/plugins/asciidoc"]
	path = vim/plugins/asciidoc
	url = git@github.com:dagwieers/asciidoc-vim.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git@github.com:tpope/vim-pathogen.git
